
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Honk&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@300&family=Poppins&family=Teko&family=Tektur&display=swap');

body{
  background-color: rgb(24, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  
}
h1{
  color: white;
}
.todo-container{
  width: 800px;
  border: 3px solid #e0e6e9;
  border-radius: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
